RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

#Ruta para usuarios
RewriteRule ^usuarios/(.*)$ routes/usuarios/usuarios.php?id=$1 [QSA,NC,L]
RewriteRule usuarios routes/usuarios/usuarios.php [QSA,NC,L]
#RewriteRule ^usuarios/user/([0-9]+)$ routes/usuarios/cambioUsuario.php?id=$1  [QSA,NC,L]
#RewriteRule ^usuarios/pass/([0-9]+)$ routes/usuarios/cambioPass.php?id=$1  [QSA,NC,L]
#RewriteRule usuarios/auth routes/usuarios/autenticacion.php [QSA,NC,L]


#Ruta para servicios
RewriteRule ^servicios/([0-9]+)$ routes/servicios/servicios.php?id=$1 [QSA,NC,L]
#RewriteRule ^servicios/(.*)$ routes/servicios/servicios.php?id=$1 [QSA,NC,L]
RewriteRule servicios routes/servicios/servicios.php [QSA,NC,L]

#Ruta para clientes
RewriteRule ^clientes/([0-9]+)$ routes/clientes/clientes.php?id=$1 [QSA,NC,L]
RewriteRule clientes routes/clientes/clientes.php [QSA,NC,L]

#Ruta para facturas
RewriteRule ^facturas/([a-zA-Z]+)$ routes/facturas/facturas.php?proceso=$1 [QSA,NC,L]
RewriteRule ^facturas-detalle/([a-zA-Z]+)$ routes/facturas/facturaDetalle.php?proceso=$1 [QSA,NC,L]
RewriteRule ^facturas-movimiento/([a-zA-Z]+)$ routes/facturas/facturaMovimiento.php?proceso=$1 [QSA,NC,L]